name: Publish VSCode Extension
on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build:
    name: Build and release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org/

      - name: Install the dependencies
        run: npm ci

      - name: Install vsce
        run: npm i -g @vscode/vsce

      - name: Publish
        run: vsce publish -p ${{ secrets.VSCE_PAT }}
